/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #383B53;
}
 
/* Alternate Theme */
body.dark-theme {
   background-color: #383B53;
   color: white;
}


 .sub-image {
      max-width: 100%;
      height: auto;
    }
    
/*Search bar*/
.form-control,
  .btn {
    height: 40px; /* You can adjust this value to match your design */
  }
  
/*Menu*/
.menu {
  background-color: #383B53;
  padding: 8px 20px;
  color: white;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  width: 33%;
  margin: 0 10px;
  text-align: center;
}

.menu-item img {
  height: 15vh;
  max-height: 200px;
  max-width: 100%;
}

.menu-item h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
}

.menu-item p {
  font-size: 14px;
  color: white;
}

.btn {
  border: none;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 1em;
  padding:  20px;
  font-size: 10px;
  cursor: pointer;
  height: 2rem;
  width: 100%;
}

.btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn-primary {
  background-color: #337ab7;
}


/*Title*/

.navbar-brand {
   font-family: monospace;
   letter-spacing: 2px;
   font-size: 1rem;
   font-weight: 200;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #f39c12;
}
/*bold text*/
nav .text-bold {
   font-weight: 800;
}

/*Logo*/
#Logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Main Content */
main {
  padding: 2rem;
  text-align: center;
  background-color: #383B53;
}

main h2 {
  font-size: 36px;
  color: #333;
}

main p {
  font-size: 18px;
  color: white;
}

/*Info*/
.Info {
   margin-top: 3rem;
}


 /*Reviews*/
 
.reviewer-info {
  background-color: #383B53;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reviewer-info img {
  margin: 0 auto;
}

.underline {
  position: relative;
  display: inline-block;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%; 
  background-color: purple;
}

 #Reviews h3,h2 {
    text-align: center;
 }
 
 
 
/* Default styles for all screen sizes */
.reviewer-image {
  width: 100%; /* Ensures the image scales with its container */
  height: auto; /* Allow the image to maintain its aspect ratio */
  max-height: 40rem; /* Adjust the maximum height as needed */
}

.review-text {
  font-family: sans-serif; /* Change to your desired font */
  font-size: 18px; /* Adjust the font size as needed */
  line-height: 1.5; /* Adjust line height for readability */
}

/* Media query for screens up to 320px wide (e.g., mobile phones) */
@media (max-width: 320px) {
  .reviewer-image {
    max-height: 10rem; /* Adjust the maximum height as needed */
  }
}

/* Media query for screens up to 768px wide (e.g., tablets) */
@media (max-width: 768px) {
  .reviewer-image {
    max-height: 25rem; /* Adjust the maximum height as needed */
  }
}
 
 
/* Contact Form */
.contact {
  background-color: #383B53;
  color: white;
  padding: 2rem;
  border: 1px gray;
  width: 100%;
}

.contact h2 {
  font-size: 28px;
  color: white;
  margin-bottom: 20px;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}

.contact label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: whitesmoke;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact button {
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contact button:hover {
  background-color: gray;
}

/* Footer */
footer {
  background-color: #171614;
  color: white;
  padding: 20px 0;
  text-align: center;
}

footer p {
   color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  main {
    padding: 20px;
  }
  .slider {
    height: 200px;
  }
}
